#intro-message {
  border-bottom: 1px solid #666;
  font-size: 0.8em;
  margin-top: 10px;
}

#intro-message img {
  float: right;
  padding-bottom: 5px;
  width: 70px;
}

#intro-message div {
  padding-left: 0;
}

#intro-message p {
  margin-top: 0;
}

@media only screen and (max-device-width: 480px) {
  #intro-message {
    margin: 0;
    max-height: 70px;
  }

  #intro-message div:first-child {
    display: none;
  }

  #intro-message div {
    flex: 0 0 100%;
    margin: 0;
    max-width: 100%;
    padding: 0;
  }

  #intro-message p {
    font-size: 1em;
    margin-left: 0;
    padding: 5px;
    text-align: justify;
  }
}
