#progressbar {
  border-top: 1px solid #666;
  color: #999;
  font-size: 8pt;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
}

#progressbar .green {
  color: rgb(15, 98, 86);
}
