<div id="progressbar" class="row">
  <div class="col-12">CASE PROGRESS</div>
  <div class="col-12">
    <span class="green">&#9608;</span>
    <span class="gray">&#9608;</span>
    <span class="gray">&#9608;</span>
    <span class="gray">&#9608;</span>
    <span class="gray">&#9608;</span>
    <span class="gray">&#9608;</span>
  </div>
</div>
