<div id="prompts" class="row">
  <div id="legend" class="col-12">
    <span id="ask">
      {{ promptsLegend }}
    </span>
  </div>
  <div class="col-12">
    <div class="suggestionCarousel">
      <p #suggest class="animated slideInRight suggestion" *ngFor="let suggestion of _chatManager.suggestions"
        id="{{ _chatManager.caseCard[suggestion].id }}"
        (click)="_chatManager.removeSuggestClass($event); _chatManager.addPrompt(suggest.id);"
      >
        {{ _chatManager.caseCard[suggestion].title }}
      </p>
    </div>
  </div>
</div>
