#prompts {
  overflow-x: auto;
  overflow-y: hidden;
}

#legend {
  text-align: center;
}

#ask {
  color:gray;
  font-size: 10pt;
  font-weight: bold;
  padding: 5px;
}

.suggestionCarousel {
  display: block;
  height: 100px;
  padding: 5px;
  width: 1000px;
}

.suggestionBox {
  background-color: white;
  border-top: 1px solid #666;
  position: absolute;
  top: 560px;
  width: 375px;
}

.suggestion {
  background-color: rgb(15, 98, 86);
  border-radius: 6px;
  color: white;
  float: left;
  font-size: 0.9em;
  height: 70px;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 100px;
}
