#isi {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  color: slategrey;
  padding: 10px;
}

#isi h6 {
  text-align: center;
}

#isi p {
  font-size: 0.8em;
  text-align: justify;
}
