/* Global styles */
.container {
  padding-left: 0;
  padding-right: 0;
}

/* Animation styles */
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.magnify {
  position: absolute;
  top: 30px;
  height: 600px;
  width: 365px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: white;
  margin: auto;
  background-repeat: no-repeat;
  overflow: scroll;
}

.fadeIn {
  animation-name: fadeIn;
}

.slideInRight {
  animation-name: slideInRight;
}

.zoomOut {
  animation-name: zoomOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  to {
    opacity: 0;
  }
}
