#chat {
  background-color: white;
  height: 420px;
  padding: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#chat img {
  width: 200px;
}

.bot-reply {
  background: #ececec;
  border-radius: 10px;
  color: #666;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 75%;
  padding: 5px;
  text-align: left;
}

.bot-reply p {
  margin: 0;
}

.user-message {
  background: rgba(15, 98, 86, 0.1);
  border-radius: 10px;
  float: right;
  margin-bottom: 5px;
  margin-top: 5px;
  max-width: 75%;
  padding: 5px;
  text-align: right;
}

.user-message p {
  margin: 0;
}

@media only screen and (max-device-width: 480px) {
  #chat {
    height: 350px;
  }
}

@media only screen and (max-device-width: 320px) {
  #chat {
    height: 250px;
  }
}
