<div id="chat" class="row" #scrollMe [scrollTop]="scrollMe.scrollHeight">
  <div class="col-12" *ngFor="let message of _chatManager.chatHistory">
    <div class="{{ message.messageClass }} animated fadeIn">
      <p>{{ message.messageText }}</p>
      <ng-template [ngIf]="message.messagePayload">
        <img #image src="{{ message.messagePayload }}"
             (click)="_chatManager.zoomImage(image.src)"
        >
      </ng-template>
    </div>
  </div>
</div>
